<div class="row" id="map-section">
   <div class="col-sm-12 col-md-10 pr-0">
     <robotmap [options]="{zoom:true, details:true}" [robot]="robot"></robotmap>
   </div>
   <div class="col-sm-12 col-md-2">
       <h2>Manual controls</h2>
       <p>
          For resolving problems.<br/>
          <strong>Forward/Backward </strong><br/>
          10 cm per click<br/>
          <strong>Left/Right</strong><br/>
           10° per click
       </p>
       <arrow-pad (left)="left()" (right)="right()" (down)="down()" (up)="up()"></arrow-pad>
      <button class="btn btn-danger btn-block btn-sm" (click)="stop()">
        <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
        STOP
        <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
      </button>
      <!--  YUP ALL OF THIS HAS TO MOVE -->
   </div>
</div>
