<!--  ROBOT SOFTWARE MANIPULATION -->
<div class="row">
     <div class="card col-xs-12 " *ngIf="!loggedAsAdmin()">
       <div class="p-5 card-body">
         <p>
           Please log in with an admin account
         </p>
         <label>Username</label>
         <input class="" [(ngModel)]="name" type="string"/><br/>
         <label>Password</label>
         <input class="" [(ngModel)]="pass" type="password"/><br/>
         <button (click)="login()">Log in</button>
       </div>
     </div>
      <div class="card col-lg-4 col-sm-6 px-0" *ngIf="loggedAsAdmin()">
        <div class="card-body">
          <h4 class="mb-3">Software manipulations</h4>
          <button
            class="btn btn-warning btn-sm btn-block"
            (click)="rn1hostRestart()">
            Restart rn1host
          </button>
          <p>Restarts the robot raspi software</p>
          <button
            class="btn btn-warning btn-sm btn-block"
            (click)="rn1hostUpdate()">
            Update rn1host from github
          </button>
          <p>Quits, does a git pull, compiles, and restarts the robot raspi software.</p>
          <button
            class="btn btn-danger btn-sm btn-block"
            (click)="rn1hostQuit()">Quit rn1host
          </button>
          <p>Quits the robot raspi software. You need to manually restart it via ssh, or reboot the robot to get it run again.</p>
          <h4 class="mb-3">Flash</h4>
          <button
            class="btn btn-warning btn-sm btn-block"
            (click)="rn1hostReflash()">
            Update firmware(s)
          </button>
          <ul>
            <li>Place the firmware file(s) on the robot raspi filesystem, in
               <i>/home/hrst/rn1&#8209;tools/main.bin</i> or <i>motcon.bin</i>, then run this.
            </li>
            <li>Reflashes &amp; restarts.</li>
            <li>Creates a log file at <i>rn1&#8209;tools/program_log.txt</i></li>
          </ul>
          <h4 class="mb-3">Boot &amp; reboot</h4>
          <button
            class="btn btn-warning btn-sm btn-block"
            (click)="rn1hostRebootRaspi()">Reboot the robot computer</button>
          <p>Runs <i>shutdown -r now</i> on the robot Raspi</p>
          <button
            class="btn btn-danger btn-sm btn-block"
            (click)="rn1hostShutdownRaspi()">
            Shutdown the robot computer
          </button>
          <p>Runs <i>shutdown -h now</i> on the robot Raspi - do this before switching off the power to avoid filesystem corruption.</p>
      </div>
   </div>
   <div class="card col-lg-8 col-sm-4 px-0" *ngIf="loggedAsAdmin()">
     <div class="card-body">
       <h4>Message history</h4>
       <p>The history of messages will last until you close the tab</p>
       <div class="text-center" style="display: inline-block">
         <span class="text-center">Toggle</span>
         <br/>
         <button class="btn btn-sm btn-outline-secondary button-toggle" [class.button-toggle-off]="hideDate" (click)="hideDate = !hideDate">Date</button>
         <button class="btn btn-sm btn-outline-secondary button-toggle button-sent" [class.button-toggle-off]="hideSent" (click)="hideSent = !hideSent">Sent</button>
         <button class="btn btn-sm btn-outline-secondary button-toggle button-received" [class.button-toggle-off]="hideReceived" (click)="hideReceived = !hideReceived">Received</button>
       </div>
       <br/><br/>
       <div class="history">
         <div class="history-marker">... Beginning of history ...</div>
         <div class="history-marker" *ngIf="!history.history.length">No history</div>
         <div *ngFor="let line of history.history">
           <div *ngIf="line.sent && !hideSent || !line.sent && !hideReceived" class="history-line" [class.history-line-sent]="line.sent" [class.history-line-received]="!line.sent">
             <span class="history-command">{{line.command}}</span>
             <span class="history-date" *ngIf="!hideDate">[{{line.date.toLocaleTimeString()}}]</span>
             <div style="display: inline">
               <span *ngFor="let data of line.payload.array" class="history-data history-data-{{data.size}}">{{data.value}}</span>
             </div>
           </div>
         </div>
         <div class="history-marker">... End of history ...</div>
       </div>
     </div>
   </div>
</div>
