<div class="row" id="map-section">
   <div class="col-sm-12 col-md-10 pr-0">
     <robotmap [options]="{zoom:true, details:true}" [robot]="robot" [world]="world"></robotmap>
   </div>
   <div class="col-sm-12 col-md-2">
      <!--  GOTTA REMOVE THIS FROM THERE -->
      <div *ngIf="robot.target">
        <button class="btn btn-info btn-block btn-sm" (click)="routeToTarget()">
          <i class="fa fa-forward" aria-hidden="true"></i> Route there</button>
        <button class="btn btn-info btn-block btn-sm" (click)="goForwardToTarget()">
          <i class="fa fa-forward" aria-hidden="true"></i> Direct forward</button>
        <button class="btn btn-info btn-block btn-sm" (click)="goBackwardToTarget()">
          <i class="fa fa-backward" aria-hidden="true"></i> Direct reverse</button>
        <button class="btn btn-info btn-block btn-sm" (click)="rotateTowardTarget()">
          <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Rotate towards</button>
      </div>
      <hr/>
      <button class="btn btn-info btn-block btn-sm" (click)="goToCharger()">
        <i class="fa fa-bolt" aria-hidden="true"></i> Go to charger</button>
      <button class="btn btn-info btn-block btn-sm" (click)="updateView()">
        <i class="fa fa-forward" aria-hidden="true"></i> Update view</button>
      <button class="btn btn-danger btn-block btn-sm" (click)="stop()">
        <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
        STOP
        <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
      </button>
      <!--  YUP ALL OF THIS HAS TO MOVE -->
   </div>
</div>
