<!--  Left panel -->
<aside id="left-panel" class="left-panel" style="position: static">
  <nav class="navbar navbar-expand-sm navbar-default">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="./"><img src="assets/images/pulurobotics1.jpeg" alt="Logo"></a>
      <a class="navbar-brand hidden" href="./"><img src="assets/images/pulurobotics.png" alt="Logo"></a>
    </div>
    <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
        </li>
        <h3 class="menu-title">Commands</h3>
        <!-- /.menu-title -->
        <li class="">
          <a routerLink="map"> <i class="menu-icon fa fa-map"></i>Components</a>
        </li>
        <li class="">
          <a routerLink="modes"> <i class="menu-icon fa fa-tasks"></i>Modes</a>
        </li>
        <li class=" dropdown">
          <a routerLink="remote-control"> <i class="menu-icon fa fa-gamepad"></i>Manual commands</a>
        </li>
        <li class=" dropdown">
          <a routerLink="admin"> <i class="menu-icon fa fa-cogs"></i>Software, flash & reboot</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</aside>

<!--  Right panel -->
<div id="right-panel" class="right-panel">
  <!-- Header-->
  <header id="header" class="header">
    <div class="header-menu">
      <div class="col-sm-1">
        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
        <div class="header-left">
          <div class="dropdown for-notification">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <span class="count bg-danger">0</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="notification">
              <p class="red">No notification</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-11">
        <div class="row">
          <div class="col-sm-4">
            <i class="fa fa-battery" aria-hidden="true"></i>
            <span>Battery status: </span><br/>
            <strong>{{volt}} V - {{voltIn}} V<i class='small'>in</i> - {{percent}} % <i class="{{batteryFill}}" [class.battery-flickr]="isOpen() && percent < 15" aria-hidden="true"></i></strong>
          </div>
          <div class="col-sm-4">
            <i class="fa fa-link" aria-hidden="true"></i>
            <span>Websocket Url: </span><br/>
            <strong>{{url}}</strong>
          </div>
          <div class="col-sm-4">
            <div class="card m-0">
              <div class="card-body  bg-flat-color-2 p-1" *ngIf="isConnecting()" (click)="end()">
                <p class="text-light text-center mb-0">
                  Initializing ...<br/>
                  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </p>
              </div>

              <div class="card-body  bg-flat-color-5 p-1" *ngIf="isOpen()" (click)="end()">
                <p class="text-light text-center mb-0">
                  Connected<br/>
                  <i class="fa fa-plug" aria-hidden="true"></i>
                </p>
              </div>

              <div class="card-body  bg-flat-color-3 p-1" *ngIf="isClosing()">
                <p class="text-light text-center mb-0">
                  Closing ...<br/>
                  <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                </p>
              </div>

              <div class="card-body  bg-flat-color-4 p-1" *ngIf="isClosed()" (click)="start()">
                <p class="text-light text-center mb-0">
                  Closed<br/>
                  <i class="fa fa-times" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--  Pages -->
  <section class="content mt-3">
    <router-outlet></router-outlet>
  </section>
  <!--  Footer -->
  <footer class="text-center">
    <p>Pulurobotics 2017-2018 - Helsinki University</p>
  </footer>
</div>
